{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "User registration" %}{% endblock %}
{% block content %}
<div class="container">
<div class="page-header">
<h1>{% trans "User registration" %}</h1>
</div>
<form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
	<p class="lead">{% trans "MCAT will obtain the following attributes from your Identity Provider." %}</p>

<div class="form-group">
    <div class="col-sm-12">

		<dl class="dl-horizontal">
		  {% for name,value in shib_attrs.items %}
		  <dt>{{ name }}</dt>
		  <dd>{{ value }}<dd>
		  {% endfor %}
		</dl>

	</div>
</div>

<input type="hidden" name="next" value="{{ next }}" />

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <button type="submit" class="btn btn-primary btn-block">{% trans "Accept" %}</button>
    </div>
</div>
</form>
</div>
{% endblock %}
