{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans "Top" %}{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<p>
					<a class="btn btn-primary btn-block btn-lg" href="{% url 'mcat.views.create' %}">{% trans "Create Meeting" %}</a>
				</p>
			</div>
			<div class="col-sm-6">
				<p>
					<a class="btn btn-success btn-block btn-lg" href="{% url 'mcat.views.view_index' %}">{% trans "View Meeting" %}</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}